@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LIBRERIA</h1>
    <p class="lead">Un recurso pedagógico como el Rincón de Lectura supone crear en cada aula un entorno de calurosa invitación para leer.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Libros De Code</h2>
        <p>
            La organización comenzó como un proyecto luego de investigar que en un 90% de los colegios estadounidenses no se enseñaba informática o programación. 
            Entre sus varios objetivos se encuentran incluir la informática como materia obligatoria en el plan de educación secundaria estadounidense y la inclusión de las mujeres en las ciencias de la computación.
             Son más de cien las empresas y organizaciones que colaboran en el proyecto. Las prinicipales empresas patrocinadoras son Amazon, Apple, Dropbox, Academia Khan, Facebook, Google y Microsoft, entre otras.3
             Entre sus campañas se encuentran «Hora de Código» que pretendía que estudiantes de todo el mundo participaran haciendo un curso gratuito de programación. Para ello se utilizaron imágenes de los populares juegos Plantas contra Zombis, Angry Birdsy MInecraft. Los directores y productores del video presentación de la campaña «Hora de Código» fueron Nicole Ehrlich y James Gwertzman.4
             El proyecto es promocionado por celebridades como Shakira, Angela Bassett, Will.i.am, Mark Zuckerberg, Bill Gates y Barak Obama, entre otros.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Revistas</h2>
        <p>Es así. Con el auge de las nuevas tecnologías y de Internet han tenido lugar dos acontecimientos dentro de lo que es el ámbito de las revistas. Así, por un lado, nos hemos encontrado con el nacimiento 
        y desarrollo de revistas web que no se realizan en papel sino que sus lectores sólo pueden leerlas en la Red.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cuentos</h2>
        <p>Viajar a mundos fantásticos sin salir de casa a partir de lecturas increíbles. Érase una vez tu familia dentro de casa aprovechando el recurso más valioso: los libros. 
        Pulmón verde. Diviértete en familia. Ven en Metrocable. Turismo de naturaleza. Turismo responsable.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>